body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #eee;
    margin: 0;
    text-align: center;
  }
  
  h1 {
    margin: 10px 0;
  }
  
  #controls {
    margin-bottom: 10px;
  }
  
  canvas {
    border: 2px solid #555;
    background-color: #222;
  }
  button, input[type=checkbox] {
    margin: 5px;
    padding: 5px 10px;
    font-size: 16px;
  }
  